<mat-toolbar  class = "toolBarClass">
  <mat-toolbar-row>
  <h1 class="title">Welcome to GEP Test Automation Dashboard</h1>
  </mat-toolbar-row>
 </mat-toolbar>
<form>
<table class = "table">
<tr>
<td style="float: left; padding-left: 20%;margin-left: 50%">
<mat-form-field>
   
    <mat-select placeholder=" Select Environment " [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let food of foods" [value]="food.viewValue">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</td>
<td>
<div class="button-row">
 <button mat-raised-button class="matButton" (click)="login()">Go</button>
</div>
</td>
</tr>
</table>
</form>
<router-outlet></router-outlet>
 <footer>
      <mat-toolbar class="footer">
        <h2 class ="title">
          Contact:- smartautomation@gep.com
        </h2>
      </mat-toolbar>
    </footer>