.example-card{
padding: 1px;
height: -webkit-fill-available;
  }
.matCardHeader{
background-color: #5a68c8;
margin: 50px -2px -2px -2px;

}
.matCardFooter{	
 border-top: 1px solid #ccc;
 background: #fff;
 z-index: 10;
 box-sizing: border-box;
 padding-top: 11px;
 padding-bottom: 11px;
 margin-right: 0;
 }
.mat-card-title{
margin-top: 15px;
font-family:'Noto Sans's,ans-serif;
margin-left: 10px;
color:#ffffff;
font-size: 18px;
font-weight: bold;
padding-left: 12px;
}


.mat-card-subtitle{
	color: white;
    margin-top: 15px;
    padding-left: 10px;
}
.mat-card-content{
padding-left: 13px;	
}
.passed {
    color: green;
}
.margincases{
margin-left : 8px;	
font-size: 14px;
font-family:'Noto Sans's,ans-serif;
}
.mat-flat-button{
font-size: 14px;
color: #0067b0;
margin-left: 259px;	
text-transform: uppercase;
transition: color 0.3s ease;
background-color:white!important;
}