
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar class="mat-hue-2 mat-tall toolbar">
        <span flex></span>
        <div layout="row" layout-align="start center">
          <mat-icon mat-list-icon class ="dashboardIcon" >list</mat-icon>
          <span ></span>
        </div>
        <span ></span>
        <div class="mat-body-2 mat-body-color">GEP Automation DashBoard</div>
</mat-toolbar>
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': 15 }" opened="true" >
    <mat-nav-list  role="navigation">

      <mat-list-item  (click) = showDashboard()>
        <mat-icon mat-list-icon >dashboard</mat-icon>
        <div ></div>
        <div class="sidenav-item">
          <h5>Module View</h5>
        </div>
      </mat-list-item>
<mat-divider></mat-divider>
      <mat-list-item    (click) = showBuild()>
        <mat-icon mat-list-icon>build</mat-icon>
        <div ></div>
        <div class="sidenav-item">
          <h5>Currently Running Builds</h5>
        </div>
      </mat-list-item>
<mat-divider></mat-divider>
      <mat-list-item >
        <mat-icon mat-list-icon>archive</mat-icon>
        <div ></div>
        <div class="sidenav-item">
          <h5>Build Logs</h5>
        </div>
      </mat-list-item>
<mat-divider></mat-divider>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
<mat-grid-list cols="3" class="example-sidenav-content"  gutterSize = "15px" rowHeight="250px" *ngIf=dashBoard>
<mat-grid-tile
      *ngFor="let i of jobsResults" class = "grid-tile">
<mat-card class="example-card">
  <mat-card-header class = 'matCardHeader'>
    <mat-card-title>{{i.moduleName}}</mat-card-title>
    <mat-card-subtitle>Total Test Cases : {{i.totalTestcase}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
    <br/>
     <mat-icon mat-list-icon  class="passed" style="color: green;">check_circle</mat-icon>
         <span class="margincases">Passed Test Cases : {{i.passedTestCases}}</span>
         <br/>
         <mat-icon mat-list-icon style="color: red;">cancel</mat-icon>
         <span class="margincases">Failed Test Cases : {{i.failedTestCases}}</span>
      <br/>
       <mat-icon mat-list-icon style="color: coral;">watch_later</mat-icon><span class="margincases">In Progress : {{i.inProgress}}</span>
    </p>
  </mat-card-content>
  <mat-card-actions class = "matCardFooter">
    <button mat-flat-button  (click) = navigateToJobs()>View Jobs</button>
  </mat-card-actions>
</mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div class="grid-container">
 <mat-grid-list cols="3" class="example-sidenav-content" gutterSize = "15px" *ngIf=!dashBoard  rowHeight="250px" >
<mat-grid-tile
      *ngFor="let i of jobsResults1" class = "grid-tile" >
<app-card  class="card-item"></app-card>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
