.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: 300ms ease-in-out;
  height: 0;
}
.submenu.expanded {
  height: 144px;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
 .example-sidenav-content {
    display: flex; 
    align-items: left;
    justify-content: center;
   margin-left : 5%;
       margin-top: 1.5%;
  }
  .changeColor{
  background-color : lightsteelblue !important;}
  .example-sidenav {
    background-color: #e4e4e4;
    width: 260px;
    height:100%;
  }
  .active{
    background-color:rgba(9, 30, 66, 0.25);
  }

  .sidenav-item{
      color: #646e7a;
      font-size:15px;
      font-family: verdana;
      height: 90% 
  }

  .mat-icon{
    color: #646e7a;
}
.card-item{
    flex: 1;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -moz-box-flex: 1;
    padding: 1px 1px 1px 1px;
    width: calc(100%);
    height: calc(100%);
  
}
.toolbar{
background-color:#0067b0;	
height:70px;
left:0;
position: fixed;
}
.container{
	height :"90%";
}
.mat-drawer-container[fullscreen] {
    top: 11%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}