
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar class="mat-hue-2 mat-tall toolbar">
        <span flex></span>
        <div layout="row" layout-align="start center">
          <mat-icon class="mat-avatar" mat-svg-icon="avatars:svg-1"></mat-icon>
          <span ></span>
        </div>
        <span ></span>
        <div class="mat-body-2">Dashboard Statics</div>
</mat-toolbar>
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': 15 }" opened="true" >
    <mat-nav-list  role="navigation">

      <mat-list-item  (click) = showDashboard()>
        <mat-icon mat-list-icon >dashboard</mat-icon>
        <div ></div>
        <div class="sidenav-item">
          <h5>Module View</h5>
        </div>
      </mat-list-item>
<mat-divider></mat-divider>
      <mat-list-item    (click) = showBuild()>
        <mat-icon mat-list-icon>build</mat-icon>
        <div ></div>
        <div class="sidenav-item">
          <h5>Currently Running Builds</h5>
        </div>
      </mat-list-item>
<mat-divider></mat-divider>
      <mat-list-item >
        <mat-icon mat-list-icon>archive</mat-icon>
        <div ></div>
        <div class="sidenav-item">
          <h5>Build Logs</h5>
        </div>
      </mat-list-item>
<mat-divider></mat-divider>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
<mat-grid-list cols="3" class="example-sidenav-content"  gutterSize = "15px" rowHeight="250px" *ngIf=dashBoard>
<mat-grid-tile
      *ngFor="let i of jobsResults" class = "grid-tile">
<app-card  class="card-item"></app-card>
  </mat-grid-tile>
</mat-grid-list>
<div class="grid-container">
 <mat-grid-list cols="3" class="example-sidenav-content" gutterSize = "15px" *ngIf=!dashBoard  rowHeight="250px" >
<mat-grid-tile
      *ngFor="let i of jobsResults1" class = "grid-tile" >
<app-card  class="card-item"></app-card>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
